## Funções básicas - Python

#### Neste script me atentarei a explicar com detalhes cada função básica do python

### 1) Tipo de entradas e saída de dados

#### A syntaxe principal de saída do python se chama 'print' ao usa-la com qualquer variável é possível imprimir o resultado, vejamos o famoso exemplo:

In [1]:
print('Olá, Mundo!')

Olá, Mundo!

#### Podemos fazer também operações básicas:

In [4]:
print(6+4) ##Textos inseridos entre '##' são inseridos como comentários e não afetam o resultado.

10

#### Ao inserir no print as aspas transformamos qualquer coisa em texto, veja:

In [5]:
print('6'+'4')

64

#### Desta vez o resultado foi uma junção de duas strings (concatenação) uma com um número 6 e outra com número 4. Se tentarmos somar uma string com um número não dá certo.

In [6]:
print('Olá'+10)

TypeError: can only concatenate str (not "int") to str

#### Mas podemos fazer uma string com o operador de multiplicação:

In [8]:
print('Olá '*5)

Olá Olá Olá Olá Olá

#### É possível atribuir valores as variáveis:

In [10]:
nome = "Bruno"
print(nome)

Bruno

In [11]:
n = 10
print(n**2) #exponenciação

100

####  Podemos unir também varias variáveis

In [24]:
nome = "Bruno"
sobrenome = "Santana"
altura = 1.74

print(nome, sobrenome,"possui", altura, "metros de altura") #podemos inserir strings para complementar a impressão.

Bruno Santana possui 1.74 metros de altura

#### Futuramente podemos fazer códigos para coletar dados de clientes ou outras variáveis e armazená-los em listas, dicionários ou tuplas. E também podemos alterar o resultado para o padrão brasileiro de decimais com vírgulas.

### Outras entradas:

#### Uma outra entrada é a função input() que em Python é utilizada para receber dados do usuário. Ela espera uma entrada de dados do usuário e retorna uma string com os dados digitados com input() podemos inserir os dados que quisermos para preencher, ou seja deixando um programa pronto, basta inserir as variáveis que ele realizará a tarefa. Veja o exemplo:

In [27]:
nome = input('Qual é o seu nome? ')
sobrenome = input('Qual é o seu sobrenome? ')
altura = input('Qual é sua altura? ')

print(nome, sobrenome,"possui", altura, "metros de altura")

Qual é o seu nome? Bruno
Qual é o seu sobrenome? Santana
Qual é sua altura? 1.74
Bruno Santana possui 1.74 metros de altura

#### O resultado acima foram as respostas que digitei. Só que precisamos entender que todos resultados são strings, se tentarmos somar dois números ele será concatenado e não somado. Observe:

In [34]:
num1 = input('Digite um número: ')
num2 = input('Digite um número: ')
soma =  num1 + num2
print('a soma é', soma) #claramente errado

Digite um número: 5
Digite um número: 2
a soma é 52

#### Para solucionar esse problema devemos colocar um tipo primitivo na variáveis antes do input, no nosso caso queremos um número, então podemos somente inserir as variáveis inteiros (int) variáveis inteiras que representam números inteiros, positivos ou negativos, sem decimais e as variáveis Floats (float) que são variáveis que representam números com casas decimais. Observe agora o problema sendo resolvido:

In [35]:
num1 = int(input('Digite um número: '))
num2 = int(input('Digite um número: '))
soma =  num1 + num2
print('a soma é', soma)

Digite um número: 5
Digite um número: 2
a soma é 7

#### Um outro tipo de variável é a booleanos que apresenta se determinados valores são verdadeiros ou falso, por exemplo:

In [47]:
a = int(input('Digite um número: '))
b = int(input('Digite um número: '))

a == b #a é igual a b?

Digite um número: 5
Digite um número: 5

True

#### Ela irá retornar TRUE para se for verdadeiro a comparação ou FALSE caso contrário. Pode-se usar mais exemplos.

In [54]:
a = int(input('Digite um número: '))
b = int(input('Digite um número: '))

primeira = a > b #a é maior que b?
segunda = a <= b #a é menor igual que b?
terceira = a != b #a é diferente de b?

print(primeira)
print(segunda)
print(terceira)

Digite um número: 5
Digite um número: 6
False
True
True

#### Outro tipo de função que retorna booleano são essas:

In [62]:
n=input("Digite algo: ")
print(n.isnumeric()) # Verificar se o n é numerico
print(n.isalpha()) #Verificar se o n é afalbeto
print(n.isalnum()) #verificar se n é alfanumerico

Digite algo: 5a
False
False
True

In [ ]:
print(n.is()) #Após digitar esse comando ao apertar tab é possível ver todos tipos de verificação

#### Foi usado a variável string em diversos momentos, mas iremos dissecar essa variável mais a frente. Também listas, tuplas e dicionários.

## 2) Operadores Aritméticos

In [3]:
5/2

2.5

In [ ]:
5//2

In [ ]:
print('oi')

In [ ]:
2+3

In [ ]:
10-4+2

In [ ]:
2**3 #exponenciação#

In [ ]:
10%3 #divide e mostra o resto#

In [ ]:
10+20*30

In [ ]:
(4**2)/30

In [ ]:
(9**4+2)*6-1

In [ ]:
a=2
b=3
print(a+b)

In [ ]:
salário = 750
aumento = 15/100
print(salário +(salário*aumento))

In [ ]:
print("Bruno Santana Bezerra")

In [ ]:
a=3
b=5
print(2*a * 3*b)